<!-- <ul>
    <li *ngFor="let Gifs of resultados">
        {{Gifs.title}}
    </li>
</ul> -->

<div class="row">
    <div *ngFor="let Gifs of resultados"
     class="col-md-4 col-sm-6">

        <div class="card">
            <img  
                 [src]="Gifs.images.downsized_medium.url" 
                   [alt]="Gifs.title"
                   class="card-img-top"> 
            <div class="card-body">
                <p class="card-text">
                    {{Gifs.title}}
                </p>

            </div>

        </div>

    </div>

</div>